<div class="card">
    <div class="card-body">
        <h4>Recipe:</h4>
        <div id="recipe">
            <% if params['recipe'].present? %>
                <% r_index = 0 %>
                <% params['recipe'].each do |r| %>
                    <% r_index += 1 %>
                    <div class="row recipe_item <%= "recipe-#{r_index}" %>">
                        <div class="col">
                            <div class="mb-3">
                                <%= label_tag "recipe[#{r_index}][key]","name", class: "form-label" %>
                                <%= text_field_tag "recipe[#{r_index}][key]", params['recipe']["#{r.first}"]['key'], class: "form-control" %>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <%= label_tag "recipe[#{r_index}][value]","amount", class: "form-label" %>
                                <%= number_field_tag "recipe[#{r_index}][value]", params['recipe']["#{r.first}"]['value'], class: "form-control" %>
                            </div>
                        </div>
                        <div class="col-2 align-self-center">
                            <%= link_to "remove", "javascript:remove_recipe_item(#{r_index})", class: 'link-danger' %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <%= link_to "+ item", "javascript:add_recipe_item()", class: 'btn btn-link'%>
    </div>
</div>